html {
    background: #A2CBE0;
    font-family: 'Share Tech', sans-serif;
    color: black;
    font-size: 15px;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
}

h1 {
    font-size: 32px;
}

.media-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.carousel-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-right {
    transform: rotate(180deg);
}

.bullet-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bullet {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    margin: 10px;
}

.bullet-selected {
    background: white;
}


/* FLEX box

display: flex;
flex-direction: row
flex-direction: column

justify-content: center // если мы хотим элементы разместить по центру
justify-content: flex-start
justify-content: flex-end

align-items: center;

*/